*{
    box-sizing: border-box;
}
.boxcenter{
    width: 60%;
    margin: 0 auto;
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 20px;
}

.mb10{
    margin-bottom: 10px;
}

.mr{
    margin-right: 2%;
}

.demo{
    background-color: antiquewhite;
    min-height: 100px;
}

.logo{
    display: flex;
}

.logo img{
    width: 3vw;
    height: 3vw;
    border-radius: 360px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 30px;
}

.logo h1{
    padding-left: 15vw;
    color: rgb(255, 68, 0);
    margin: 10px 20px;
    text-align: center;
}

.menu{
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    color: white;
}

.boxtrai{
    float: left;
    width: 74%;
}

.boxphai{
    float: left;
    width: 24%;
}

.boxtrai{
    float: left;
    width: 74%;
}

.boxphai{
    float: left;
    width: 24%;
}

.catalog{
    display:flex;
    gap:30px;
}
.box_title{
    
    background:#EEEE;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-left:1px solid #b6adad;
    border-right:1px solid #ccc;
    padding:10px;
    color:#333;
    height:30px;
    align-items:center;
   
}
.box_content{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    /* border-bottom-left-radius:5px;
    border-bottom-right-radius:5px; */
    min-height:200px;
    padding:20px;
}
.ndsp p{
    margin: 0px;
    font-size: 20px;
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    padding: 20px;
}

.quantity input {
    width: 30px;
    text-align: center;
}

.quantity button {
    cursor: pointer;
}

.box_content3{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    /* border-bottom-left-radius:5px;
    border-bottom-right-radius:5px; */
    min-height:200px;
    padding:20px;
}

.box_content2{
    padding:20px;
    background:#EEEE;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    min-height:200px;
     
}

.footer{
    font-size: 1vw;
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    color: rebeccapurple;
    border: 1px solid rgb(10, 43, 32);
}

.boxtitle{
    color: #333;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ccc;
}

.boxcontent{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.boxcontent2{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #eee;
}

.boxfooter{
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
/* banner */
.banner {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    min-height: 250px;
}
.banner-slide {
    display: none;
    width: 100%;
}
.banner img {
    width: 100%;
    height: auto;
    height: 250px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}

.boxsp{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.boxsp .img{
    text-align: center;
    min-height: 200px;
}

.img img{
    height: 200px;
}

.boxsp .p{
    font-size: 200px;
    text-align: center;
}

.price{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #333;
    padding: 20px;
}

.menu ul{
    padding: 0 15px;
}

.menu ul li{
    list-style: none;
    display: inline;
    padding: 0 15px;
}

.menu ul li a{
    color: white;
    text-decoration: none;

}

.menu ul li a:hover{
    color: #ccc;
    text-decoration: underline;
}

/*Box tài khoản*/

.formtaikhoan{
    line-height: 150%;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"],
.formcontent input[type="text"]{
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="checkbox"]{
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
}

.formtaikhoan input[type="submit"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover{
    background-color: #ccc;
}

.formtaikhoan li a{
    color: rgb(7, 25, 25);
    text-decoration: none;
}

.formtaikhoan li a:hover{
    color: teal;
    text-decoration: underline;
}

/* memudoc*/

.menudoc ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li{
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px #ccc solid;
}

.menudoc ul li a{
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover{
    background-color: #ccc;
}

.searbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.top10 img{
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

.top10 a{
    color: #666;
    text-decoration: none;
}

.top10 a:hover{
    color: #000;
    text-decoration: underline;
}

.header {
    border: 1px #000 solid;
    font-size: 0.8vw;
    color: rgb(154, 70, 164);
    border-radius: 5px;
    background-color: #eee;
}

.header h1{
    margin: 10px 20px;
}

/*ADMIN*/

.formcontent{
    padding: 20px 0px;
}

.formdsloai table{
    width: 100%;
    border-collapse: collapse;
}

.formdsloai table th{
    padding: 10px 20px;
    background-color: #ccc;
}

.formdsloai td{
    padding: 10px 20px;
    border: 1px #ccc solid;   
}